{% extends 'shared/site.html' %}

{% block body %}
<div style = 'margin-top: 100px'></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2">
      <ul class="sidebar-nav">
        <li><a href="{% url 'book:index' %}">Home</a></li>
        <li><a href="">All Books</a></li>
        <li><a href="">All authors</a></li>
      </ul>
    </div>
    <div class="col-md-10">
      <h1>Local Library Home</h1>
      <p>Welcome to <em>Library</em>, a very basic Django website developed as a tutorial example on the Mozilla Developer Network. </p>
      <hr/>
      <h2>Dynamic content</h2>
      <p>The libraary has the follwing record count: </p>
      <ul class="list-unstyled">
        <li><p><strong>Title: </strong>{{book.title}}</p></li>
        <li><p><strong>Summery </strong>{{book.summary}}</p></li>
        <li><p><strong>ISBN: </strong>{{book.isbn}}</p></li>
        <li>
          <p><strong>Instances: </strong>
            <ul>
              {% for x in book.bookinstance_set.all %}
                {% if x.status != 'a' %}
                  <li><p><strong>Due Back: </strong>{{ x.due_back }}</p></li>
                  <li><p><strong>Imprint: </strong>{{ x.imprint }}</p></li>
                  <li><p><strong>ID: </strong>{{ x.id }}</p></li><hr/>
                {% endif %}
              {% endfor %}
            </ul>

          </p>
        </li>
      </ul>
    </div>
  </div>

</div>
{% endblock%}
